<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fornite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand text-muted" href="#">Fornite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Descubre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Mi biblioteca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Crear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Pase de Batalla</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Más</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row mt-3 d-flex justify-content-center">
        <div class="col-5">
            <h1 class="fw-bold text-dark">LA COMUNIDAD RECOMIENDA</h1>
            <p>Descubre los juegos que la Comunidad Stream está disfrutando actualmente según las reseñas recientes</p>
            <button class="btn btn-warning">Descargar ahora</button>
        </div>
        <div class="col-5">
            <img src="battle_royale.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>
<div class="container-fluid bg-black mt-4">
    <div class="container">
        <div class="row py-4 gap-3 d-flex justify-content-center">
            <div class="col-4 rounded text-light bg-dark px-4 py-4">
                <h3>ACERCA DE ESTA ISLA</h3>
                <p>!Se está librando la batalla! Participa en el Battle Royale. Saquea, construye, explota y lucha en una partida de 100 jugadores que compiten por ser el último en pie.</p>
            </div>
            <div class="col-4 rounded bg-light d-flex flex-column align-items-center justify-content-center px-4 py-4">

                <h3 class="text-muted">471,8 MIL</h3>

                <p>Activo</p>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row py-4 gap-5 d-flex justify-content-center">
        <div th:each="carta: ${cartas}" class="card px-0 py-0" style="width: 18rem;">
            <img th:src="${carta.getImagen()}" class="card-img-top img-fluid" alt="imagen de la carta" >
            <div class="card-body">
                <p th:text="${carta.getTitulo()}" class="card-text"></p>

                <p th:text="${carta.getNumeroJugadores()}+' mil'"></p>
            </div>
        </div>
    </div>
</div>
<hr class="w-100">
<footer>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col d-flex flex-column">
                        <a href="" class="text-muted text-decoration-none">Inicio</a>
                        <a href="" class="text-muted text-decoration-none">Pase de Batalla</a>
                        <a href="" class="text-muted text-decoration-none">Ver</a>
                        <a href="" class="text-muted text-decoration-none">Consigue Fornite</a>
                        <a href="" class="text-muted text-decoration-none">Noticias</a>
                    </div>
                    <div class="col d-flex flex-column">
                        <a href="" class="text-muted text-decoration-none">PREGUNTAS FRECUENTES</a>
                        <a href="" class="text-muted text-decoration-none">CLUF</a>
                        <a href="" class="text-muted text-decoration-none">Competitivo</a>
                        <a href="" class="text-muted text-decoration-none">Tarjeta de paVos</a>
                    </div>
                    <div class="col d-flex flex-column">
                        <a href="" class="text-muted text-decoration-none">Ayuda</a>
                        <a href="" class="text-muted text-decoration-none">reglas de la comunidad</a>
                        <a href="" class="text-muted text-decoration-none">Guía de marca</a>
                        <a href="" class="text-muted text-decoration-none">Cosplay</a>
                    </div>
                </div>
            </div>
            <div class="col">

                <div class="ms-5">
                    <label>Subscríbete a nuestra newsletter</label>
                    <form class="d-flex gap-2 w-75">
                        <input type="text" class="form-control"></input>
                        <button type="submit" class="btn btn-primary">Subscríbete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="w-100">
    </div>
    <div class="container mb-5">
        &#169 2024 Epic Games, Inc. Todos los derechos reservados
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>